<html class="beep">
    <head>
        <title>Turtle Tracker</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <style media = "screen">
        body{
            background-color: #b2dfdb;
            }
        </style>
    </head>
    <body>
    <nav>
    <div class="teal darken-2 nav-wrapper">
      <a href="#" class="brand-logo">Turtle Finder</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Homepage</a></li>
        <li><a href="/Cite">Citations</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </nav>
        <div class="wrapper">
            <h1 class="teal white-text card-panel">About</h1>
            <p>This website is developed and created by Jack Herwitz and Lola Ginsburg. They strive to spread the beauty of turtles to the entire United States, maybe... Jack is an expirenced coder of the Avenues School, with reasonable ambitions and humor. Lola is a novice with an affinity for hot chocolate, books, and world domination.</p>
            
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>