<html class="beep">
    <head>
        <title>Turtle Tracker</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <style media = "screen">
        body{
            background-color: #b2dfdb;
            }
        </style>
    </head>
    <body>
    <nav>
    <div class="teal darken-2 nav-wrapper">
      <a href="#" class="brand-logo">Turtle Finder</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Homepage</a></li>
        <li><a href="/Cite">Citations</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/FunFact">Turtle Facts</a></li>
      </ul>
    </div>
  </nav>
        <div class="wrapper">
            <h1 class="teal white-text card-panel">Fun Facts</h1>
            <p>The major difference between turtles and tortoises is that tortoises are on land with rough, rocklike shells, while turtles live in the water most of the time, with more smooth shells.</p>
            <p>Larger sea turtles are estimated to live about 80 years, while tortoises have been known to live for centuries</p>
            <p>In 2004, a taxi in Hong Kong was hit by a turtles which climbed out of a window and fell 10 stories onto the taxi. Suprisingly, the turtle survived the fall.</p>
            <p>Turtles falling from buildings has become common enough that there is a medical-insurance that will include 9 turtle-related injures</p>
            <p>There is a turtle hospital in Florida</p>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>